.btn-padrao1,
.badge-primary,
.alert-success,
.btn-padrao1-icons,
.btn-padrao1-div_table {
    background-color: #035c77;
    border-color: #035c77;
    color: #ffffff;
    border-radius: 40px;
    height: 40px;
}

.btn-padrao2,
.badge-warning,
.alert-warning,
.btn-padrao2-icons,
.btn-padrao2-div_table {
    background-color: #FF5E32;
    border-color: #FF5E32;
    color: #ffffff;
    height: 40px;
    border-radius: 25px;
}

.btn-padrao1:hover,
.btn-padrao2:hover,
.btn-padrao1-icons:hover,
.btn-padrao2-icons:hover,
.btn-padrao1-div_table:hover,
.btn-padrao2-div_table:hover {
    background-color: #333333;
    border-color: #333333;
    color: #fff;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.form-control-padrao1,
.form-control-padrao1-div_table {
    border: 0.5px solid #eaeeee;
    color: #eaeeee;
    width: 350px;
    height: 40px;
    padding-left: 20px;
    border-radius: 40px 0px 0px 40px;
}

.form-control-padrao1,
.btn-padrao2,
.btn-padrao1 {
    box-shadow: 0 0 5px 0px rgba(51, 51, 51, 0.5);
}

.form-control-padrao1-div_table,
.btn-padrao1-div_table,
.btn-padrao2-div_table {
    box-shadow: 0 0 5px 0px rgba(51, 51, 51, 0.5);
}

.form-control-padrao1:focus,
.form-control-padrao1-div_table:focus {
    outline: none;
    border: 1px solid #FF5E32;
    color: #000000;
    box-shadow: 0 0 8px 0px rgba(51, 51, 51, 0.5);
}

a,
a:hover {
    color: inherit;
}

#position-padrao1 {
    padding-left: 50px;
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

thead {
    color: #ffffff;
    background: #ffffff;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.letra {
    color: #006f88;
}

.iten-icon-pdf {
    color: #ff0000;
}

.iten-icon-excel {
    color: #148631;
}

.card-header {
    font-size: 40px;
    font-family: Poppins-Regular;
    background-color: #035c77;
}

.text-create {
    color: #ffffff;
}

#thead_colors {
    font-size: 20px;
    display: table-header-group;
    vertical-align: middle;
    border-bottom-color: inherit;
}

#table {
    border-radius: 10px;
    overflow: hidden;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #f2f2f2;
}

#table,
.btn-padrao1,
.btn-padrao2,
.badge-primary,
.alert-success,
.btn-padrao1-icons,
.btn-padrao2-icons,
.btn-padrao1-div_table,
.btn-padrao2-div_table,
.card-body-text {
    font-family: Poppins-Regular;
    font-size: 16px;
}

.color-header-modal {
    background-color: #006f88;
    color: white;
}

.modal-close-color {
    color: white;
    font-weight: bold;
}

.card-body-text {
    background-color: #005365;
    color: white;
}

.datatable {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.row-dashboard-div {
    padding-left: 30px;
    padding-right: 40px;
}

#card_crud {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.config-space-divs {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}

#div_create {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
}

.dashtext {
    font-family: Poppins-Regular;
    font-size: 50px;
    color: #020202;
    font-weight: bold;
}

#row-dashboard {
    border-radius: 25px;
}

h1 {
    font-family: Poppins-Regular;
    font-weight: bold;
    padding-top: 15px;
}

h6 {
    font-family: Poppins-Regular;
    font-weight: bold;
    padding-top: 15px;
    color: #333333;
}

.textex {
    font-family: Poppins-Regular;
    font-weight: bold;
    padding-top: 15px;
}

h5 {
    font-family: Poppins-Regular;
    font-weight: bold;
    padding-top: 0px;
}

.text-dash-card {
    font-family: Poppins-Regular;
    font-weight: bold;
    padding-top: 15px;
}

label {
    font-family: Poppins-Regular;
    font-weight: bold;
}

a,
td,
.p-div-text {
    font-family: Poppins-Regular;
    font-size: 15px;
}

#entrada_dashborad_icon {
    color: #173820;
}

.border-left-lucro {
    border-left: .50rem solid #173820!important;
}

.border-left-lucro:hover {
    border-left: 40px solid #173820!important;
}

#saida_dashborad_icon {
    color: #4c534f;
}

.border-left-prejuizo {
    border-left: .50rem solid #4c5253!important;
}

.border-left-prejuizo:hover {
    border-left: 40px solid #4c5253!important;
}

#user_dashborad_icon {
    color: #FF5E32;
}

.border-left-cliente {
    border-left: .50rem solid #FF5E32!important;
}

.border-left-cliente:hover {
    border-left: 40px solid #FF5E32!important;
}

#caixa_dashborad_icon {
    color: #FFD452;
}

.border-left-entrada {
    border-left: .50rem solid #FFD452!important;
}

.border-left-entrada:hover {
    border-left: 40px solid #FFD452!important;
}

.border-left-saidas {
    border-left: .50rem solid #eeca66!important;
}

.border-left-saidas:hover {
    border-left: 40px solid #eeca66!important;
}

#produtos_dashborad_icon {
    color: #f8efbe;
}

.border-left-produtos {
    border-left: .50rem solid #f8efbe!important;
}

.border-left-produtos:hover {
    border-left: 40px solid #f8efbe!important;
}

.border-left-estoque {
    border-left: .50rem solid #005365!important;
}

.border-left-estoque:hover {
    border-left: 40px solid #005365!important;
}

.border-left-vencimento {
    border-left: .50rem solid #0CF29D!important;
}

.border-left-vencimento:hover {
    border-left: 40px solid #0CF29D!important;
}

.card-for-show:hover + .fa-window-restore {
    display: block;
}

.slide {
    transition-duration: 1s;
    transition-delay: 0s;
}

.fa-window-restore{
    display: none;
}

.card-for-show:hover + .visubtn {
    display: block;
    transform: scale(1.015);
    transition: 0.15s linear;
    box-shadow: 1px 1px 22px rgba(157, 184, 209, 0.5);
}


#estoque_dashborad_icon {
    color: #005365;
}

.card-dash {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}

@keyframes bi-exclamation-circle-fill {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.bi-exclamation-circle-fill {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffffcf;
}

.loader img {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 170px;
}

.ajuda-div {
    background-color: #fff;
    color: #005365;
}

#icon_positivo {
    background-color: rgb(255, 0, 191);
    color: white;
    font-size: 13px;
    height: 20px;
}

#icon_melhorar {
    background-color: rgb(0, 175, 117);
    color: white;
    font-size: 13px;
    height: 20px;
}

#icon_negativo {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 13px;
    height: 20px;
}

#icon_normal {
    background-color: rgb(255, 166, 0);
    color: white;
    font-size: 13px;
    height: 20px;
}

#icon_default {
    background-color: rgb(42, 5, 255);
    color: white;
    font-size: 13px;
    height: 20px;
}

.crud-alignment-modal {
    margin-left: 15px !important;
    margin-right: 15px !important;
}