.btn-padrao1,
.badge-primary,
.alert-success,
.btn-padrao1-icons,
.btn-padrao1-div_table {
    background-color: #035c77;
    border-color: #035c77;
    color: #ffffff;
    border-radius: 40px;
    height: 40px;
}

.btn-padrao2,
.badge-warning,
.alert-warning,
.btn-padrao2-icons,
.btn-padrao2-div_table {
    background-color: #FF5E32;
    border-color: #FF5E32;
    color: #ffffff;
    height: 40px;
    border-radius: 25px;
}

.btn-padrao1:hover,
.btn-padrao2:hover,
.btn-padrao1-icons:hover,
.btn-padrao2-icons:hover,
.btn-padrao1-div_table:hover,
.btn-padrao2-div_table:hover {
    background-color: #333333;
    border-color: #333333;
    color: #fff;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.form-control-padrao1,
.form-control-padrao1-div_table {
    border: 0.5px solid #eaeeee;
    color: #eaeeee;
    width: 350px;
    height: 40px;
    padding-left: 20px;
    border-radius: 40px 0px 0px 40px;
}

.form-control-padrao1,
.btn-padrao2,
.btn-padrao1 {
    box-shadow: 0 0 5px 0px rgba(51, 51, 51, 0.5);
}

.form-control-padrao1-div_table,
.btn-padrao1-div_table,
.btn-padrao2-div_table {
    box-shadow: 0 0 5px 0px rgba(51, 51, 51, 0.5);
}

.form-control-padrao1:focus,
.form-control-padrao1-div_table:focus {
    outline: none;
    border: 1px solid #FF5E32;
    color: #000000;
    box-shadow: 0 0 8px 0px rgba(51, 51, 51, 0.5);
}

a,
a:hover {
    color: inherit;
}

#position-padrao1 {
    padding-left: 50px;
}

.display-4 {}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

thead {
    color: #ffffff;
    background: #ffffff;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.letra {
    color: #006f88;
}

.card-header {
    font-size: 40px;
    font-family: Poppins-Regular;
}

#thead_colors {
    font-size: 20px;
    display: table-header-group;
    vertical-align: middle;
    border-bottom-color: inherit;
}

#table {
    border-radius: 10px;
    overflow: hidden;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #f2f2f2;
}

#table,
.btn-padrao1,
.btn-padrao2,
.badge-primary,
.alert-success,
.btn-padrao1-icons,
.btn-padrao2-icons,
.btn-padrao1-div_table,
.btn-padrao2-div_table,
.card-body-text {
    font-family: Poppins-Regular;
    font-size: 16px;
}

.dashtext {
    font-family: Poppins-Regular;
    font-size: 50px;
    color: #333333;
    font-weight: bold;
}

#row-dashboard {
    border-radius: 25px;
}

h6,
h1 {
    font-family: Poppins-Regular;
    font-weight: bold;
    padding-top: 15px;
}

h5 {
    font-family: Poppins-Regular;
    font-weight: bold;
    padding-top: 0px;
}

.bg_1,
.bg_2,
.bg_3,
.bg_4,
.bg_5,
.bg_6 {
    border-radius: 25px;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}


/* .bg_1:hover,
.bg_2:hover,
.bg_3:hover,
.bg_4:hover,
.bg_5:hover {
    box-shadow: 1px 1px #1a1f24, 2px 2px #1a1f24, 3px 3px #1a1f24;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
} */

.bg_1 {
    background-color: #122617;
}

.bg_2 {
    background-color: #005365
}

.bg_3 {
    background-color: #FF5E32;
}

.bg_4 {
    background-color: #FFD452;
}

.bg_5 {
    background-color: #f8efbe;
    color: #000000;
}

.bg_6 {
    background-color: #fffef9;
    color: #000000;
}

#icon_positivo,
#icon_negativo,
#icon_normal,
#icon_melhorar {
    font-size: 20px;
}