.btn-padrao1, .badge-primary, .alert-success{
    background-color:#035c77;
    border-color: #035c77;
    color: #ffffff;
}

.btn-padrao2, .badge-warning, .alert-warning{
    background-color: #e76800;
    border-color: #e76800;
    color: #ffffff;
}

.btn-padrao1:hover , .btn-padrao2:hover {
    background-color: #333333;
    border-color: #333333;
    color: #fff;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  }